---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";
import Datetime from "./Datetime.astro";

export interface Props {
  variant?: "h2" | "h3" | "h4";
  data: (
    | CollectionEntry<"blog">
    | CollectionEntry<"notes">
    | CollectionEntry<"recipes">
  )["data"];
  id: string;
  filePath?: string;
}

const { variant = "h2", data, id, filePath } = Astro.props;

const { title, description, pubDatetime, modDatetime, timezone } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
  class: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class="my-4">
  <div class="flex flex-col gap-1">
    <!-- <div class="flex items-baseline gap-3">
      <Datetime {pubDatetime} {modDatetime} {timezone} />
    </div> -->
    <a href={getPath(id, filePath)} class="group block">
      {
        variant === "h2" ? (
          <h2 class="text-xl font-semibold text-accent group-hover:underline sm:text-xl">
            {title}
          </h2>
        ) : variant === "h3" ? (
          <h3 class="text-xl font-semibold text-accent group-hover:underline sm:text-xl">
            {title}
          </h3>
        ) : (
          <h4 class="text-lg font-semibold text-accent group-hover:underline sm:text-lg">
            {title}
          </h4>
        )
      }
    </a>
    <p class="text-foreground/80">{description}</p>
  </div>
</li>
